:root {
    --red-background: linear-gradient(45deg, rgba(171, 19, 70, 0.937), rgb(220, 196, 196));
    --red-darkest: rgb(160, 19, 70);
    --red-pale: rgba(160, 19, 70, 0.6);
    --red-palest: rgba(160, 19, 70, 0.3);
    --light-background: rgba(255, 255, 255, 0.7);
    --light-background-hover: rgba(255, 255, 255, 0.67);
    --border_radius: 0.2rem;
    --language_tile_length: 9rem;
}

html {
    height: 100%;
}

body {
    background-image: var(--red-background);
    font-family: Candara, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;
    margin: 0;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
    font-variant-caps: all-petite-caps;
}

section {
    position: relative;
    top: 15vh;
    width: 80vw;
    min-height: 800px;
    margin: auto;
    margin-bottom: 38vh;
    padding: 1rem;
    text-align: center;
    background-color: var(--light-background);
    border-radius: var(--border_radius);
}

section:hover {
    box-shadow: 5px 5px 5px var(--red-darkest);
    background-color: var(--light-background-hover);
}

.greetings {
    min-width: 60vw;
    min-height: 40vh;
    display: block;
    font-size: 2.5rem;
}

.greetings p {
    font-size: 1.5rem;
}

.greetings h1 {
    width: 70%;
    margin-top: 100px;
}

.greetings span {
    display: flex;
    flex-direction: row;
}

.greetings img {
    width: 250px;
    margin-left: 10%;
    border-radius: 50%;
}

nav {
    position: fixed;
    width: 100%;
    top: 75vh;
    left: 0;
    margin-left: -0.4rem;
    background-color: var(--red-darkest);
    padding: 1rem;
    justify-content: center;
    display: flex;
}

nav a {
    font-size: 2.5rem;
    padding: 0 5rem;
    text-shadow: 0 0 30px white;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 30px white;
}

.desc h1 {
    font-size: 2rem;
    font-variant-caps: all-small-caps;
}

.desc p {
    font-size: 1.25rem;
    padding: 0 5vw;
}

.return_link {
    display: block;
    margin: 5rem auto auto;
    padding: 1rem 1.5rem 1.5rem;
    background-color: var(--light-background);
    width: 30rem;
    height: 1.5rem;
    font-size: 1.5rem;
    border-radius: var(--border_radius);
    font-weight: 600;
}

.return_link:hover {
    box-shadow: 0px 0px 5px var(--red-darkest);
}

.underline_on_hover:hover {
    text-decoration: underline;
}

/* projects section --------------------------------------------------------------------------- */
.language_grid {
    max-width: 70vw;
    overflow-x:hidden;
    margin: 2rem auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    font-weight: 800;
    font-size: 1.25rem;
}

.language_tile {
    height: var(--language_tile_length);
    width: var(--language_tile_length);
    text-align: center;
    line-height: var(--language_tile_length);
    transition-duration: 0.25s;
    border-radius: var(--border_radius);
}

.language_tile span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


.language_tile:hover {
    background-color: var(--red-palest);
}

.language_list {
    width: 50%;
    margin: auto;
    text-align: left;
}

.language_list li {
    margin: 0.75rem auto;
    font-size: 1.2rem;
}

.project-type-link-and-header {
    display: flex;
    flex-direction: row;
}

.project-type-link-and-header a {
    width: 27%;
    padding: 1.6rem;
    font-weight: 800;
}

.project-example {
    border-radius: var(--border_radius);
    width:80%;
    margin: 2rem auto;
}

.project-example h2 {
    margin: 1rem 0 0.5rem;
}

.project-desc {
    max-width: 60%;
    text-align: justify;
    margin: 0.5rem auto;
}

.project-desc::before {
    content: "Description:";
}

.break {
    background-color: var(--red-palest);
    height: 0.4rem;
    border-radius: var(--border_radius);
    margin: 0.25rem 10rem;
}

/* Small Screens */
@media (max-width: 700px) {
    .greetings {
        font-size: 1.8rem;
        max-width: fit-content;
    }

    .greetings h1 {
        width: 100%;
    }

    .greetings img {
        width: 221px;
        height: 166px;
        margin: 75px 20px;
    }
    
    nav {
        top: 0px;
    }

    nav a {
        padding: 1rem;
        font-size: 2rem;
    }

    .return_link {
        font-size: 1.25rem;
        width: 17rem;
        padding-bottom: 2.5rem;
    }

    .language_grid {
        overflow-x: scroll;
    }

    .language_list {
        width: 75%;
    }

    .language_list li {
        font-size: 1rem;
    }

    .project-example {
        width: 100%;
    }
}
