:root {
    --red-background: rgba(171, 19, 70, 0.937);
    --red-darkest: rgb(160, 19, 70);
    --light-background: rgba(255, 255, 255, 0.5);
    --light-background-hover: rgba(255, 255, 255, 0.47);
    --border_radius: 0.2rem;
}

body {
    background-color: var(--red-background);
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 2000px;
}

section {
    width: 75vw;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    background-color: var(--light-background);
    border-radius: var(--border_radius);
}

section:hover {
    box-shadow: 5px 5px 5px var(--red-darkest);
    background-color: var(--light-background-hover);
}

.greetings {
    min-height: 35vh;
    display: block;
    font-size: 2.5rem;
}

.greetings p {
    font-size: 1.5rem;
}

nav {
    position: sticky;
    width: 100%;
    left: 0;
    margin-left: -0.4rem;
    background-color: var(--red-darkest);
    padding: 1rem;
    justify-content: center;
    display: flex;
}

nav a {
    font-size: 2.5rem;
    padding: 0 2.5rem;
    font-family: Candara, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-caps: all-petite-caps;
    color: black;
    text-decoration: none;
    text-shadow: 0 0 30px black;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 30px white;
}

.about h1 {
    font-size: 2rem;
}

.about p {
    font-size: 1.25rem;
}

.underline_on_hover:hover {
    text-decoration: underline;
}